<!-- #####################################################################  { LEARN ANGULAR }  ################################################################ -->


       
      <!--============================================================== Inter Polation ===================================================================-->



                <!--   ==>  INTERPOLATION MA A KOI PAN [ VARIABLES, ARITHMETIC OPERATIONS, COMPARIGON CONDITIONS] USED KARI SHAKIYE CHHIYE -->

<!-- 

<h1>{{title}}</h1>

<h3>{{data}}</h3>                            



<h4>{{get()}}</h4> -->



<!--================================================================ EVENTS IN ANGULAR ==============================================================-->
<!-- 
<button (click)="getData('hello')">Click me!</button>
<br><br>

<input type="text" #box placeholder="Event keyup" (keyup)="getData('box.value')"> -->




<!--============================================================= get values of input field ========================================================-->


<!-- <input type="text" name="nm" #box >

<button (click)="getValue(box.type)">Click</button>

<h2>Values: {{displayVal}}</h2> -->


<!--========================================================= PROPERTY BINDING ============================================================================-->

                                      <!-- Property Binding also provide get BOOLEAN values -->



<!-- <input type="text" name="" id="" value="{{name}}" disabled="{{disable}}">

<br>

<input type="text" name="" id="" [value]="name" [disabled]="disable">

 -->



<!--==================================================================== IF-ELSE IN ANGULAR =======================================================-->
<!-- 
<h1>If - else</h1>

<h3 *ngIf="show == 'Dhaval' then ifBlock else elseBlock"></h3>

<ng-template #ifBlock>
  <p>IF Conditon Execute</p>
</ng-template>

<ng-template #elseBlock>
  <p>Else Conditiojn Execute</p>
</ng-template> -->



<!--================================================================== MultiPle IF Conditions ========================================================-->


<!-- <h1>Multiple If Conditions:</h1>

<ng-template [ngIf]="color==='red'">
  <h3 style="color:red;">Red Color</h3>
</ng-template>

<ng-template [ngIf]="color==='green'">
    <h3 style="color:green;">Green Color</h3>
</ng-template>

<ng-template [ngIf]="color==='blue'">
    <h3 style="color:blue;">Blue Color</h3>
</ng-template>
 -->

 <!--=============================================================== SWITCH CASE IN ANGULAR =======================================================-->

<!-- <div [ngSwitch]="color">
    <h2 *ngSwitchCase="'red'" style="color: red;"> Red Color</h2>
    <h2 *ngSwitchCase="'green'" style="color: green;">Green Color</h2>
    <h2 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h2>
    <h2 *ngSwitchCase="'orange'" style="color: orange;">Orange Color</h2>
    <h2 *ngSwitchCase="'yellow'" style="color: yellow;"> Yellow Color</h2>
    <h2 *ngSwitchCase="'pink'" style="color: pink;">Pink Color</h2>
    <h2 *ngSwitchDefault> Unknown Color</h2>
  
</div> -->



<!--===================================================================== LOOPS IN ANGULAR ========================================================================-->

<!-- <h1>Loops In Angular</h1>

<h3 *ngFor="let i of Users">

  users Name is :  {{i}}
</h3>

<h3 *ngFor="let Details of UserDetails">

  Details Of Users : {{Details.name}} -- {{Details.email}} -- {{Details.Phone}}
</h3>
   -->


<!--=================================================================== NESTED LOOPS ==================================================================================-->

<!-- 
<ul *ngFor="let i of users">

  <li>Name: {{i.name}}</li>
  <li>Phone: {{i.phone}}</li>
  <li>Social Accounts:</li>

  <ul *ngFor="let account of i.socialAccounts">

    <li>{{account}}</li>
  </ul>

</ul> -->


<!--========================================================================= STYLE-BINDING IN ANGULAR ==============================================================-->



<!-- <h1 [style.color]="color" [style.backgroundColor]="bgcolor">{{title}}</h1>

<button (click)="updateColor()">UpdateColor</button> -->



<!--========================================================================= Header =========================================================================-->
<!-- 
<nav>
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="">


<ul>
  <li><a href="">Home</a></li>
  <li><a href="">About</a></li>
  <li><a href="">Contact</a></li>
  <li><a href="">Service</a></li>
</ul>

</nav> -->


<!--===============================================================================  Basic Forms  ============================================================-->

<!-- <h1>Basic Form</h1>
<br><br>


<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value )" >

  <input type="text" ngModel name="user" id="" placeholder="Enter Name">
  <br><br>

  <input type="text" ngModel name="email" id="" placeholder="Enter Email">
  <br><br>

  <input type="text" ngModel name="password" id="" placeholder="Enter Password">
  <br><br><br>

  <button>Submit</button>

</form>

<br>

<ul>
  <li>{{userData.user}}</li>
  <li>{{userData.email}}</li>
  <li>{{userData.password}}</li>
</ul> -->



<!--=========================================================================== Toggle Element =======================================================-->

<!-- <h1>
  Toggle Element
</h1>

<button (click)="toggle()">Toggle</button>

<h2 *ngIf="display">Welcome</h2> -->

<!--================================================================= Make Simple TO-DO ================================================================-->

<!-- 

<h1>Simple TO-DO</h1>

<input type="text" name="" id="" placeholder="Enter New Task" #task>

<br><br>

<button (click)="addTask(task.value)">Add Task</button>


<ul *ngFor="let item of list">
  <li>{{item.name}}</li><button (click)="Remove(item.id)">Delete</button>
  
  
</ul> -->


<!--=================================================================== Two Way - Binding ===============================================================-->



<input type="text" name="" id="" [(ngModel)]="nm">

<h3>{{nm}}</h3>