<!-- #####################################################################  { LEARN ANGULAR }  ################################################################ -->


       
      <!--============================================================== Inter Polation ===================================================================-->



                <!--   ==>  INTERPOLATION MA A KOI PAN [ VARIABLES, ARITHMETIC OPERATIONS, COMPARIGON CONDITIONS] USED KARI SHAKIYE CHHIYE -->

<!-- 

<h1>{{title}}</h1>

<h3>{{data}}</h3>                            



<h4>{{get()}}</h4> -->



<!--================================================================ EVENTS IN ANGULAR ==============================================================-->
<!-- 
<button (click)="getData('hello')">Click me!</button>
<br><br>

<input type="text" #box placeholder="Event keyup" (keyup)="getData('box.value')"> -->




<!--============================================================= get values of input field ========================================================-->


<!-- <input type="text" name="nm" #box >

<button (click)="getValue(box.type)">Click</button>

<h2>Values: {{displayVal}}</h2> -->


<!--========================================================= PROPERTY BINDING ============================================================================-->

                                      <!-- Property Binding also provide get BOOLEAN values -->



<!-- <input type="text" name="" id="" value="{{name}}" disabled="{{disable}}">

<br>

<input type="text" name="" id="" [value]="name" [disabled]="disable">

 -->



<!--==================================================================== IF-ELSE IN ANGULAR =======================================================-->
<!-- 
<h1>If - else</h1>

<h3 *ngIf="show == 'Dhaval' then ifBlock else elseBlock"></h3>

<ng-template #ifBlock>
  <p>IF Conditon Execute</p>
</ng-template>

<ng-template #elseBlock>
  <p>Else Conditiojn Execute</p>
</ng-template> -->



<!--================================================================== MultiPle IF Conditions ========================================================-->


<!-- <h1>Multiple If Conditions:</h1>

<ng-template [ngIf]="color==='red'">
  <h3 style="color:red;">Red Color</h3>
</ng-template>

<ng-template [ngIf]="color==='green'">
    <h3 style="color:green;">Green Color</h3>
</ng-template>

<ng-template [ngIf]="color==='blue'">
    <h3 style="color:blue;">Blue Color</h3>
</ng-template>
 -->

 <!--=============================================================== SWITCH CASE IN ANGULAR =======================================================-->

<!-- <div [ngSwitch]="color">
    <h2 *ngSwitchCase="'red'" style="color: red;"> Red Color</h2>
    <h2 *ngSwitchCase="'green'" style="color: green;">Green Color</h2>
    <h2 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h2>
    <h2 *ngSwitchCase="'orange'" style="color: orange;">Orange Color</h2>
    <h2 *ngSwitchCase="'yellow'" style="color: yellow;"> Yellow Color</h2>
    <h2 *ngSwitchCase="'pink'" style="color: pink;">Pink Color</h2>
    <h2 *ngSwitchDefault> Unknown Color</h2>
  
</div> -->



<!--===================================================================== LOOPS IN ANGULAR ========================================================================-->

<!-- <h1>Loops In Angular</h1>

<h3 *ngFor="let i of Users">

  users Name is :  {{i}}
</h3>

<h3 *ngFor="let Details of UserDetails">

  Details Of Users : {{Details.name}} -- {{Details.email}} -- {{Details.Phone}}
</h3>
   -->


<!--=================================================================== NESTED LOOPS ==================================================================================-->

<!-- 
<ul *ngFor="let i of users">

  <li>Name: {{i.name}}</li>
  <li>Phone: {{i.phone}}</li>
  <li>Social Accounts:</li>

  <ul *ngFor="let account of i.socialAccounts">

    <li>{{account}}</li>
  </ul>

</ul> -->


<!--========================================================================= STYLE-BINDING IN ANGULAR ==============================================================-->



<!-- <h1 [style.color]="color" [style.backgroundColor]="bgcolor">{{title}}</h1>

<button (click)="updateColor()">UpdateColor</button> -->



<!--========================================================================= HEADER =========================================================================-->
<!-- 
<nav>
  <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="">


<ul>
  <li><a href="">Home</a></li>
  <li><a href="">About</a></li>
  <li><a href="">Contact</a></li>
  <li><a href="">Service</a></li>
</ul>

</nav> -->


<!--===============================================================================  BASIC FORM  ============================================================-->

<!-- <h1>Basic Form</h1>
<br><br>


<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value )" >

  <input type="text" ngModel name="user" id="" placeholder="Enter Name">
  <br><br>

  <input type="text" ngModel name="email" id="" placeholder="Enter Email">
  <br><br>

  <input type="text" ngModel name="password" id="" placeholder="Enter Password">
  <br><br><br>

  <button>Submit</button>

</form>

<br>

<ul>
  <li>{{userData.user}}</li>
  <li>{{userData.email}}</li>
  <li>{{userData.password}}</li>
</ul> -->



<!--=========================================================================== TOGGLE ELEMENT =======================================================-->

<!-- <h1>
  Toggle Element
</h1>

<button (click)="toggle()">Toggle</button>

<h2 *ngIf="display">Welcome</h2> -->

<!--================================================================= Make Simple TO-DO ================================================================-->

<!-- 

<h1>Simple TO-DO</h1>

<input type="text" name="" id="" placeholder="Enter New Task" #task>

<br><br>

<button (click)="addTask(task.value)">Add Task</button>


<ul *ngFor="let item of list">
  <li>{{item.name}}</li><button (click)="Remove(item.id)">Delete</button>
  
  
</ul> -->


<!--=================================================================== Two Way - Binding ===============================================================-->


<!-- 
<input type="text" name="" id="" [(ngModel)]="nm">

<h3>{{nm}}</h3> -->


<!--=================================================================== Template Reference Variable =============================================================-->

                                            <!-- aa variable thi koi pan input field ni values get kari shakiye chhhiye -->

<!-- 
<input type="text" name="" id="" #box>

<button (click)="getVal(box.value)">Click me</button> -->


<!--=================================================================== Basic Types Of Typescript =============================================================-->


                                                                                  <!-- 
                                                                                  1. number
                                                                                  2. string
                                                                                  3. boolean
                                                                                  4. any -->


<!--=================================================================== Basic of Pipes in Angular =============================================================-->

<!-- pipe no use data transform karva mate thay chhe & HTML vala page maj use karvano chhe-->
<!-- 
<h1>{{title | uppercase}}</h1>
<h1>{{title | lowercase}}</h1>
<h1>{{title}}</h1>


<h3>{{date | date : 'fullDate' }}</h3>

-->

<!--=================================================================== Advance Pipes in Angular =============================================================-->

<!-- 
<h1>{{name | slice : 3 : 6}}</h1>
<h1>{{name2 | json}}</h1>
<h1>{{name | uppercase}}</h1>
<h1>{{2000.3000 | number : '2.2-3'}}</h1>
<h1>{{50 | currency: 'GBP'}}</h1> -->

<!--=================================================================== Custom Pipes in Angular =============================================================-->

<!-- <h1>Custom Pipes</h1>
{{20 | usdInr : 75}} -->


<!--=================================================================== Template Driven Form =============================================================-->



<!-- <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">

  <input type="text" name="user" id=""  placeholder="Enter Name" ngModel>
  <br><br>
  <input type="text" name="password" id="" placeholder="Enter Password" ngModel>
  <br><br>

  <button>Login</button>

</form>
 -->


 <!--=================================================================== Reactive Form [impoprtant] =============================================================-->

<!-- 
 <h1>Reactive Form</h1>

<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" name="user" id="" placeholder="Enter Name" formControlName="user">
  <br><br>
  <input type="text" name="password" id="" placeholder="Enter Password" formControlName="password">
<br><br><br>
  <button>Submit</button>

</form> -->

 <!--=================================================================== Normal Routing ===================================================================-->

<!-- <a routerLink="home">Home</a>
<br>
<a routerLink="about">About</a>
<br>
<a routerLink="contact">Contact</a>
 -->

 <!--=================================================================== Reactive Form Validation [important]]===================================================================-->

 <!-- <h1>Reactive Form Validations</h1>

 <form [formGroup]="loginFormValidation" (ngSubmit)="loginUser()">
   <input type="text" name="user" id="" placeholder="Enter Name" formControlName="user" #show>
   <br><br>

   <span style="color: red;" *ngIf="user && user.invalid && user.touched">This Field is Not Valid</span><br><br>
   <input type="password" name="password" id="" placeholder="Enter Password" formControlName="password" #show2><br>
   <span style="color: red;" *ngIf="password && password.invalid && password.touched">This Field is Not Valid</span><br><br>

 <br><br><br>

   <button [disabled]="loginFormValidation.invalid" (click)="showData(show.value)">Submit</button>

   <p>{{loginFormValidation.value.user}}</p>
   <p>{{loginFormValidation.value.password}}</p> 

 </form>  -->

                                                         <!-- Show Data Child components To Parent Components -->


 


<router-outlet></router-outlet>
