<!-- <p>home works!</p>


<div class="center">
  <i class="fa fa-paper-plane"></i>
  <p>Send</p>
  <span></span>
</div>


<section class="grid-box">
  <div>
    <ul>
      <li>Apple</li>
      <li>Ball</li>
      <li>Cat</li>
    </ul>
  </div>
  <div></div>
</section> -->



<!-- File Upload -->

<div class="bg-light mt-5 ms-5">
  <input type="file" (change)="Upload($event)">
  <button (click)="AddDocument()" class="btn btn-primary">Add</button>
</div>

<!-- <div *ngFor="let input of inputValues; let i = index">
  <input [(ngModel)]="doc" placeholder="Enter text" />
  <button (click)="removeInput(i)">Remove</button>
</div>

<button (click)="addInput()">Add Input</button>

 -->
<!--
<div class="sign-form">
        <form action="" class="form-body">
         <h3>Sign Up</h3>
          <input type="text" class="form-control" placeholder="Enter Name" required="">
          <input type="text" class="form-control" placeholder="Enter Mobile NO.">
          <input type="text" class="form-control" placeholder="Enter Password">
          <input type="text" class="form-control" placeholder="Enter Confirm Password">

          <button class="btn btn-primary" (click)="forEach()">Submit</button>
        </form>
 </div> -->
<!-- <ng-container *ngFor="let img of ShowImages">

  <div >
   <img [src]="img" alt="image not found" class="image-size">
  </div>
</ng-container> -->

<nav class="bg-light">
    <button routerLink="/">Home</button>
    <button routerLink="/">Contact</button>
    <button routerLink="/">Gellery</button>
    <button routerLink="/">Services</button>
</nav>


